<form action="/CongNhan/ListByTime" method="post">
    <label>Số triệu chứng:</label><input type="text" name ="soLan"/></br>
    <input type="submit" value="Liệt Kê" name="submit" id="them" />
</form>
