@model List<object>
@{
    ViewData["Title"] = "Liệt số số triệu chứng";
}
<table border="1">
    <tr>
        <th>Tên Công Nhân</th>
        <th>Năm sinh</th>
        <th>Nước về</th>
        <th>Triệu chứng</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.GetType().GetProperty("TenCongNhan").GetValue(item, null)
    </td>
    <td>
        @item.GetType().GetProperty("NamSinh").GetValue(item)
    </td>
    <td>
        @item.GetType().GetProperty("NuocVe").GetValue(item, null)
    </td>
    <td>
        @item.GetType().GetProperty("SoLan").GetValue(item, null)
    </td>
</tr>
    }
</table>
